.body {
  background-image: url("https://img.freepik.com/free-photo/hand-painted-watercolor-background-with-sky-clouds-shape_24972-1095.jpg?t=st=1647827470~exp=1647828070~hmac=8f866fd67590d70b25fccecb3209d985175ecae313cc97a0a498c684e937441b&w=1380");
  overflow: auto;
  background-size: cover;
}

.navbar-left {
  color: #00003f;
  font-family: papyrus;
  font-size: 22px;
  text-decoration: underline;
  display: inline-block;
}

.NavAnchor {
  display: block;
  position: relative;
  top: -100px;
}

h1 {
  text-align: center;
  color: #00003f;
  font-family: papyrus;
  font-size: 70px;
  text-decoration: underline;
}

h3 {
  color: #00003f;
  font-size: 30px;
}

#home {
  margin-top: 100px;
  margin-bottom: 100px;
}

#about {
  margin-top: 100px;
}

#portfolio {
  margin-top: 100px;
}

#contact {
  margin-top: 100px;
}